<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/main}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title"></title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/login.css">
    </th:block>
    <th:block layout:fragment="script"></th:block>
</head>
<div layout:fragment="main" id="main">

    <div id="loginWrap">
        <form method="post" action="/member/signIn" th:object="${memberLogin}">
            <div class="formData">
                <div class="inputField">
                    <input type="text" th:field="*{userId}">
                </div>
                <div class="inputField">
                    <input type="password" th:field="*{password}">
                </div>
                <div class="loginBt">
                    <button>Login</button>
                </div>
            </div>

        </form>
    </div>

</div>
</html>